<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>dees is den title</title>
</head>

<body ng-app="myapp" ng-controller="mijnCtrl">
    <h1>CHECK YOUR ATTENDEES</h1>
    <form target="_blank" action="http://127.0.0.1:3000/myaction" method="post">
        <div class="col-lg-3">
            <label >Naam:</label>
            <input type="text" ng-model="textInput" id="name" name="naam" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>Klas:</label>
            <input type="text" ng-model="classInput" id="class" name="klas" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>Aanwezigheids-nummer:</label>
            <input type="number" ng-model="numberInput" id="number" name="code" class="form-control" />
        </div>
        <div class="col-lg-3">

            <input type="submit" class="btn btn-success" value="Send!" />
        </div>


    </form>

    <form>
        <input type="check" ng-model="checkNum" class="form-control" />
        <button type="button" class="btn btn-success" ng-click="ButtonCheck()">check</button>
    </form>

    <table class="col-sm-12 table-bordered">
        <tr>
            <td class="col-lg-6">Klas</td>
            <td class="col-lg-6">Naam</td>
        </tr>
        <tr ng-repeat="x in checked">
            <td>
                <div class="col-lg-6">{{x.klas}}</div>
            </td>
            <td>
                <div class="col-lg-6">{{x.naam}}</div>
            </td>
        </tr>
    </table>

</html>
